<!DOCTYPE html>
<html ng-app>
    <head>
        <title>Servicio de gestión de incidencias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="styles/styles.css" media="screen" />
    </head>
    <body>
        <div id="content">
            <h1>Datos de la incidencia 1</h1>
            Area:<br/>
            <input type="text" ng-model="area"/><br/><br/>
            Problema:<br/>
            <input type="text" ng-model="problema"/><br/><br/>
            Solucion:<br/>
            <textarea ng-model="solucion"/></textarea><br/><br/>
            Datos:<br/>
            <textarea ng-model="datos"/></textarea><br/><br/>
            Criticidad:
            <select ng-model="criticidad">
                <option value="baja">baja</option>
                <option value="media">media</option>
                <option value="alta">alta</option>
                <option value="critica">critica</option>
            </select>
            <br/>
            <hr/>
            <br/>
            <h1>Estado de la incidencia</h1>
            <b>Fecha:</b> <p ng-app ng-controller="DateController">{{fecha | date:'yyyy-MM-dd'}}</p><br/>
            <b>Solicitante:</b><p>{{area}}</p><br/>
            <b>Problema:</b><p> {{problema}}</p><br/>
            <b>Solucion:</b><p> {{solucion}}</p><br/>
            <b>Criticidad:</b><p> {{criticidad}}</p><br/>
        </div>
        <script type="text/javascript" src="js/libs/angular.js/angular.js"></script>

        <script type="text/javascript">
            function DateController($scope){
                $scope.fecha = new Date();
            }
        </script>
    </body>
</html>
